html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.table th {
    white-space: nowrap;      
    vertical-align: middle;   
    text-align: center;    
}

.table td.aksi,
.table th.aksi {
    white-space: nowrap;
}

.navbar .nav-link img {
    border: 2px solid #fff;
}

@media print {
    body * {
        visibility: hidden;
    }
    .print-area,
    .print-area * {
        visibility: visible;
    }
    .print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    .no-print {
        display: none !important;
    }
    table {
        font-size: 12px;
    }

    th, td {
        padding: 6px !important;
    }
    .print-title {
        text-align: center;
        margin-bottom: 15px;
    }
}

.ql-align-center {
    text-align: center;
}
.ql-align-right {
    text-align: right;
}
.ql-align-justify {
    text-align: justify;
}
